<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <p> This will be the about page, which holds all the
        data that needs to be presented to the user about the
        web site
      </p>
  </body>
</html>
