<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include partials/head.ejs %>
</head>

<body class="w3-indigo w3-animate-opacity w3-margin-0">
<header class="w3-row">
	<i id="menu-icon" class="w3-show material-icons w3-col s1 m2 l2 w3-xxlarge">view_headline</i>
	<div id="nav-bar" class="w3-hide">
	<div class="w3-col w3-left s6 m6 l6">
		<% include partials/header.ejs %>
	</div id="right-menu" >
	<div class="w3-col s6 m6 l6">
	<i id="menu-close" class="material-icons w3-right">highlight_off</i>
	<a id="link" class="w3-small w3-margin-4 w3-right" href="<%= link %>"><%= name %></a>
	
	<a id="link2" class="w3-small w3-margin-4 w3-right" href="<%= link2 %>"><%= name2 %></a>		
	
	<div>
	</div>
</header>

<section id="main-section" class="w3-container w3-center w3-blue">

	<div id="search-elements" class="w3-row w3-margin-8 w3-medium">
		
		<input class="w3-input w3-container w3-col s12 m6 l6 w3-text-black" type="text"
		 name="search" placeholder="search"></input>
		 
		 <input id="dateFrom" type="text" 
		 	class="w3-col s6 m2 l2 w3-text-black"
		 	name="dateFrom"></input>
		 	
		 <input id="dateTo" type="text" 
		 	class="w3-col s6 m2 l2 w3-text-black"
		 	name="dateTo"></input>
		
		<button id="search-button" class="w3-btn w3-indigo w3-container
		 w3-center w3-col s12 m2 l2"><i class="material-icons">search</i></button>
	</div>
	
	<div id="map" class="w3-content"></div>
</section>

<footer class="w3-small w3-container w3-indigo">
	<% include partials/footer.ejs %>
</footer>
	<script type="text/javascript" src="js/maps.js">
		
    </script>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAbfKFIJvNNI6kutr_cDzYy5he0ysyHGVQ&callback=initMap"></script>
</body>
</html>
