<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/w3.css">
	<!--<link rel="stylesheet" href="css/custom.css"-->
</head>
<body>
<header class="w3-xlarge w3-container w3-cyan w3-image">
	<h1>The application header</h1>
	<h3>with a sub-heading</h3>
</header>
<!--
	This is the view that will be templated from the angular js side.
	This will speed up development.
	<div ng-view>

	</div>
-->
<footer class="w3-small w3-container w3-cyan">
	The Footer for our application
</footer>
<script>
/**
	This is the way the data is supposed to be sent to the server
*/
/*
var obj = {
	'id': 12345,
	'name':'pawel',
	'surname':'otrebski'
};
var t = document.getElementById("button");
t.addEventListener('click',function(){
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/login');
	xhr.setRequestHeader('Content-Type', 'application/json');
	xhr.setRequestHeader('Type', 'file');
	xhr.send(JSON.stringify(obj));
});

*/
</script>
</body>
</html>
