@media screen and (min-height:200px){
	#map{
		height:200px;
	}
	
	#main-section:{
		height:200px;
	}
	
	body{
		padding-bottom:0%;
		max-height:400px;	
	}
}

@media screen and (min-height:300px){
		#map{
			height:480px;
		}
		
		#main-section:{
			height:480px;
		}
		
		body{
		padding-bottom:0%;
		max-height:680px;	
	}
		
		
}

@media screen and (min-height:640px){
	#map{
		height:640px;
	}
	
	#main-section:{
		height:640px;
	}
	
	body{
		
		max-height:840px;	
	}
	
	/*nav{
		display:inline;
	}*/

}

@media screen and (min-height:1024px){
	#map{
		height: 800px;
	}
	
	#main-section:{
		height:800px;
	}
	
	body{
		padding-bottom:0%;
		max-height:1024px;	
	}
	
}
	
	#search-elements>*{
		height:25px;
	}	
	
	body{
		padding-bottom:100%;
	}
	
	header>*{
		height:38.5px;
	}
	
	form>*{
		color:black;
	}
	
	#main-section{
		margin-bottom:25px;
	}
	
	#menu-close,#menu-icon{
		cursor:pointer;
	}
	

	#link,#link2,#menu-close{
		text-decoration:none;
		line-height:38px;
	}
	
	
	
	
