<!DOCTYPE html>
<!--This is going to be an example using the 
	ejs templating module
	-->
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="css/mean.css">
	</head>
	<body>
		<img src="img/image.jpg" alt="im">
		<h1><%= title %></h1>
	</body>
</html>
